<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TV Critic</title>
		<link rel="stylesheet" href="/style.css" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	</head>

	<body>
		<div class="error">
			<img src="/sad.png" />
			<p>No reviews available</p>
		</div>
	</body>
</html>