@font-face {
  font-family: 'RobotoRegular';
  src: url('../Roboto-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
	color: white;
	text-align: center;
	margin: 5px 0;
	font-family: RobotoRegular;
}

h2 {
	color: white;
	font-size: 46pt;
	text-align: center;
	font-family: RobotoRegular;
}

p {
	color: white;
	font-size: 17pt;
	font-family: RobotoRegular;
}

body {
	background: #000;
}

.row {
	margin: 0.5%;
	overflow: hidden;
	width: 48.5%;
	float: left;
	background: #333;
}

.rating {
	width: 70px;
	padding: 0 10px 0 10px;
	float:left;
}

.comment {
	margin: 0 20px 0 110px;
	height: 0px;
}

.error {
	width: 500px;
	height: 260px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -130px 0 0 -250px;
}
