h1 {
	color: white;
	font-family: Helvetica, sans-serif;
	text-align: center;
	margin: 5px 0;
}

h2 {
	color: white;
	font-size: 48pt;
	font-family: Helvetica, sans-serif;
	text-align: center;
}

p {
	color: white;
	font-family: Helvetica, sans-serif;
	font-size: 18pt;
}

body {
	background: #333;
}

.row {
	margin: 0.5%;
	border: 2px solid white;
	overflow: hidden;
	width: 48.5%;
	float: left;
}

.rating {
	width: 70px;
	padding: 0 10px 0 10px;
	border-right: 2px solid white;
	float:left;
}

.comment {
	margin: 0 20px 0 110px;
	height: 0px;
}

.error {
	width: 500px;
	height: 260px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -130px 0 0 -250px;
}
